* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #212324;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a:hover {
    color: var(--orange);
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gt walsheim pro';
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: var(--black-grey);
}

.sub-heading {
    margin-bottom: 38px;
        font-size: 40px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: -.02em;
}

.sub-sub-head {
    margin-top: 8px;
    font-size: 19px;
    line-height: 1.15;
    letter-spacing: -.02em;
}

.line-below {
    position: relative;
}

.line-below::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--orange);
    bottom: 0;
    left: 0;
}

@font-face {
  font-family: 'Gt walsheim pro';
  src: url('fonts/GT-Walsheim-Pro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gt walsheim pro';
  src: url('fonts/GT-Walsheim-Pro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gt walsheim pro';
  src: url('fonts/GT-Walsheim-Pro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.modal {
    z-index: 999999;
}
.modal-backdrop {
    z-index: 99999;
}
.modal-content {
    background-color: var(--ivory);
}
.w-80 {width:  80%}
.icon-list.no-icon li::before {
    content: none !important;
}

.center-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
/*.no-icon li a {
    display: inline-flex;
    width: 95%;
    margin: 0;
}*/
.icon-text {
    font-size: 18px;
    text-decoration: underline !important;
}
.icon-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--orange);
    line-height: 41px;
    text-align: center;
    font-size: 17px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: var(--white);
    margin-bottom: 20px;
    margin-right: 10px;
}
.f-width {
    width: 100%;
}
body.overflow-y { overflow-y: hidden; }
.uppercase {
    text-transform: uppercase;
}
/*h1 {
    font-size: 50px;
}*/
.banner-heading {
    font-size: 70px;
    margin-bottom: 15px;
    font-family: 'Gt walsheim pro';
    margin-bottom: 0;
    color: #333;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.02em;

}
.banner-text {
    font-size: 16px;
    text-transform: uppercase;
}
h3 {
    font-size: 28px;
}
p {
    font-size:  18px;
}
.clear-fix {
    width: 100%;
    clear: both;
}
.footer-padding {
    padding: 50px 0;
}
.section-padding {
    padding: 100px 0;
}
.bg-padding {
    padding: 200px 0;
}
hr.thick {
    display: inline-block;
    width: 50px;
    margin: 25px 0 30px 0;
    clear: both;
    border-top: 2px solid #000;
}
.xs-mb-15 {margin-bottom:  15px}

/*VIDEO POPUP*/
.video-popup-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    font-size: 20px;
    background: #f7f7f7;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.video-modal {
    position: relative;
}

.video-pop .modal-content {
    background:  transparent;
    border: none;
}

.video-pop .modal-header {
    border:  none;
}

.video-pop .modal-body .video-img {
    border: 5px solid var(--white);
    width: 100%;
}


.video-pop .modal-header .close {
    padding: 0rem 1rem;
    color: var(--white);
    opacity: 1;
    font-size: 30px;
}

.video-pop .modal-header .close:hover {
    opacity: 1;
}

/*----------------- START COLOR PALETTE  -----------------*/

:root {
    --orange: #fb7a15;
    --grey: #f5f5f8;
    --blue: #534ff2;
    --black-grey: #333;
    --black:  #000000;
    --ivory: #FEFFED;

}
.orange-color {
    color: var(--orange);
}
.white-color {
    color: var(--white);
}
.dark-violet-color {
    color: var(--dark-violet);
}

/*----------------- END COLOR PALETTE  -----------------*/


/*----------------- BUTTONS START  -----------------*/

.w-190 {
    width: 190px;
}

.solid-orange-white-btn{
    background:var(--orange);
    color: var(--white);
}
.solid-orange-white-btn:hover{
    background: var(--white);
    color: var(--orange);
}

.btn-cmn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
    padding: 12px 36px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 32px 0 32px 32px;
    box-shadow: none;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    color: #f4f8f9;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .03em;
}
.transparent-white-btn {
    color: var(--white);
    border: 1px solid var(--white);
}
.transparent-white-btn:hover {
    color: var(--white);
    background: var(--orange);
    border-color: var(--orange);
}

.transparent-blue-btn {
    border: 1px solid var(--orange);
    color: var(--orange);
}
.transparent-blue-btn:hover {
    color: var(--white);
    background: var(--orange);
    border-color: var(--orange);
}
.solid-blue-btn {
    border: 1px solid var(--orange);
    color: var(--white);
    background: var(--orange);
}
.solid-blue-btn:hover {
    color: var(--orange);
    background: var(--white);
    border-color: var(--orange);
}
.solid-white-btn {
    color: var(--orange);
    background: var(--white);
    border-color: var(--white);
}
.solid-white-btn:hover {
    color: var(--white);
    background: var(--orange);
    border-color: var(--orange);
}

/*----------------- BUTTONS START  -----------------*/


/*----------------- BULLETS START  -----------------*/

.icon-list li {
    padding: 0.5em 0 0;
    display: flex;
}

.icon-list li::before {
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    color: var(--orange);
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    content: '\f058';
    display: inline-flex;
}

.icon-list li p {
    display: inline-flex;
    width: 95%;
    margin: 0;
}

/*----------------- BULLETS END  -----------------*/


/*----------------- START TOP BANNER AREA  -----------------*/
.top-area {
    position: relative;
    height: 100%;
    width: 100%
}

.top-area-bg {
    background-color: var(--grey);
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.home-hero-img-overlay {
    position: absolute;
    left: auto;
    top: auto;
    right: 16px;
    bottom: 16px;
    z-index: 55;
}

.home-hero-img-overlay-h {
    margin-bottom: 4px;
    color: #333;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
}

.home-hero-img-overlay-sub-t {
    color: #241815;
    font-size: 13px;
    font-weight: 400;
}

.home-img-bottom-overlay {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    height: 101px;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#f4f4ff),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(0deg,#f4f4ff,hsla(0,0%,100%,0));
}

/*.banner-img {
    position: absolute;
    left: auto;
    top: 10%;
    right: 16px;
    bottom: auto;
    width: 150px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}
*/

.pt-70 {
    padding-top: 70px;
}

.background {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
}


.call-to-action {
    color: var(--white);
    text-transform: none;
}

.top-info {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
    margin-top: 7px;
}

.top-info-icon {
    margin-right: 10px;
}

.top-info-a {
    color: var(--white);
    letter-spacing: 1px;
}

.book-table-popup {
    float: right;
    padding: 5px;
}

.book-table-popup a {
    background: var(--orange);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 14px 30px;
}

.book-table-popup a:hover {
    background: var(--white);
    color: var(--orange);
}

.top-social-bookmark {
    float: right;
}

.top-social-bookmark ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.top-social-bookmark ul li {
    display: inline;
}

.top-social-bookmark ul li a {
    color: var(--white);
    display: inline-block;
    font-size: 14px;
    height: 39px;
    margin: 0 -2.5px;
    padding: 6px;
    text-align: center;
    width: 40px;
}

.top-social-bookmark ul li:last-child a {
    margin-right: -5px;
}

.top-social-bookmark ul li a:hover {
    background: var(--white);
    color: var(--orange);
}

.top-social-bookmark ul li a i {
    vertical-align: middle;
}



/*----------------- WELCOME TEXT START  -----------------*/

#bannerslider, #bannerslider .carousel-inner, #bannerslider .carousel-item  {
    min-height: 100vh;
    overflow-y: hidden;
}

#bannerslider .carousel-caption {
    bottom: 0;
    top: 50%;
    transform: translateY(-50px);
    padding: 0
}

.slider-head {
    margin-bottom:1em;
    font-family: 'Gt walsheim pro';
    color: #333;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.02em;
}

.slider-text {
    font-size: 30px;
}


/*----------------- WELCOME TEXT END  -----------------*/


.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.blocks-section {
    position: relative;
        background-color: rgba(250,242,244,.7);
        color: #333;
        padding-top: 60px;
    padding-bottom: 60px;
}





/*----------------- FORM STYLES START  -----------------*/

.form-input {
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, .15);
    -webkit-appearance: none;
    width: 100%;
    height: 45px;
    background: var(--ivory);
    padding-left: 38px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.form-textarea {
    padding-top: 20px;
    min-height: 145px;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, .15);
    -webkit-appearance: none;
    width: 100%;
    height: 45px;
    background: var(--ivory);
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    resize: none;
}

.form-submit-btn {
    border: none;
    background-color: var(--orange);
    color: var(--white);
    line-height: 45px;
    border-radius: 3px;
    transition: .5s;
    height: 45px;
    min-width: 160px;
    margin: 0 auto;
    display: table;
}

.label-text {
    font-weight: 600;
}

.label-text .orange-color {
    font-size: 18px;
}

.form-submit-btn:hover {
    color: var(--white);
    box-shadow: 2.5px 4.33px 15px 0 rgba(27, 72, 178, .4);
    -webkit-box-shadow: 2.5px 4.33px 15px 0 rgba(27, 72, 178, .4);
    -moz-box-shadow: 2.5px 4.33px 15px 0 rgba(27, 72, 178, .4);
    -webkit-appearance: none;
}
.book-online-popup label i {
    position: absolute;
    left: 28px;
    top: 22px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: var(--black);
    z-index: 2;
}
.book-online-popup label {
    width: 100%;
}
::placeholder {
    color: #000
}

/*----------------- FORM STYLES END  -----------------*/




/*----------------- SIDEBAR STYLES START  -----------------*/

/* .scroll-top {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .up-icon-fixed {
    text-align: center;
    margin: 0 auto;
    display: table;
    font-size: 40px;
    color: var(--main-green-color);
   } */

.up-icon-fixed {
    position: relative;
}

.up-icon-fixed:hover {
    color: var(--white);
}

.top-arrow {
    position: relative;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
}


/*.scroll-top {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 100;
  }*/

.up-icon-fixed {
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    color: var(--main-green-color);
    /* display: inline-block; */
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
    padding: 15px;
    background-color: var(--orange);
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 100;
    position: fixed;
    bottom: 18%;
    right: 0.5em;
    margin: 0 auto;
}

#toggle-input {
    visibility: hidden;
    display: none
}

.side-social li {
    text-align: right;
    margin-top: 0.1em;
}

.side-social {
    display: inline-block;
    position: fixed;
    /* right: 0;
        z-index: 99999;
    bottom: 25%; */
    right: 0.5em;
    z-index: 99999;
    bottom: 25%;
}

.side-social li a:hover {
    color: var(--white);
    background-color: var(--white);
}

.toggle-label {
    /* display: block; */
    cursor: pointer;
    padding: 12px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--orange);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 0.5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
}

#toggle-input:checked+.toggle-label:after {
    content: "\f057";
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.toggle-label:after {
    content: "\f141";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    margin: 0 auto;
    display: table;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    vertical-align: middle;
    color: var(--white);
}

#toggle-input:checked~.toggle-content {
    display: block;
    -moz-transition: ease 0.3s max-height;
    -o-transition: ease 0.3s max-height;
    -webkit-transition: ease 0.3s max-height;
    transition: ease 0.3s max-height;
}

.toggle-content {
    /* margin: -17em 0 0 0; */
    display: none;
}

body .tool {
    cursor: pointer;
    position: relative;
}

.side-icon {
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    color: var(--white);
    /*display: inline-block;*/
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
    padding: 15px;
    background-color: var(--orange);
    width: 50px;
    height: 50px;
}

.mt3px {
    margin-top: 3px;
}

.tool::after {
    right: 100%;
    opacity: 1;
    position: absolute;
    z-index: 100;
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
    cursor: pointer;
    text-align: left;
    width: 160px;
    background: var(--white);
    border-radius: .25em;
    bottom: 0;
    color: var(--black);
    content: attr(data-tip);
    padding: 10px;
    margin-right: 0.1em;
    transform: scale(1) translateY(0);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
   /* border: 2px solid var(--main-dark-blue-color);*/
}

.side-social li a:hover,
.side-social li a:not([href]):hover {
    color: var(--orange);
    background-color: var(--white);
}

.tool:hover:after {
    background-color: var(--orange);
    color: var(--white);
    /*border: 2px solid var(--white);*/
}

.side-social li a:not([href]) {
    color: var(--white)
}

/*----------------- SIDEBAR STYLES END  -----------------*/

.dark-logo2{
    color: var(--orange);
    margin-bottom: 0;
    display: none;
}
.is-sticky .dark-logo2{
    display: table;
}

.scnd-logo{
    width:15%;
}
    
 .chef-img img{width:100%}
/*SIDEBAR*/

/*CONTACT PAGE START*/

.addres-iframe iframe {
    width:  100%
}

.address-box {
    -webkit-box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,.1);
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%);
    padding: 16px;
    border-radius: 6px;
    display: list-item;
    height: 100%;
    list-style: none;
}

.address-box .footer-head.text-center::after {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/*CONTACT PAGE END*/

/*MEDIA SCREENS START*/
@media (max-width: 1199px) {
    ul#nav li a {
        padding: 30px 8px;
    }
    .sub-heading {
        font-size: 35px;
    }
    
}
@media(max-width:1024px){
    #bannerslider, #bannerslider .carousel-inner, #bannerslider .carousel-item {
        min-height: 400px;
        overflow-y: hidden;
        }
}

@media (max-width: 991px) {
    .sub-heading {
        font-size: 30px;
    }
    .section-padding {
    padding: 50px 0;
}
.bg-padding {
    padding: 160px 0;
}
    /*.no-icon li a {
        width: 90%;
    }*/
    .tab-center {
        margin: 15px auto 0;    
        display: table;
    }
    /*.frst-logo, .is-sticky .dark-logo {
    width: 20%;
    }*/
    .icon-text {
        font-size: 16px;
    }
    p {
    font-size: 16px;
    }
    .icon-list li p {
        width: 90%;
    }
    .tab-column-reverse {
        flex-direction: column-reverse;
    }
    .tab-width-mb {
        width: 80%;
        display: table;
        margin: 0 auto 3em;
    }
    .tab-mt3 {
        margin-top: 3em
    }
    .ns-menu-area {
        display: block;
        /*position: absolute;*/
    }
    /*.side-social {
        top: 30px;
    }*/

    .mob-mr-2{
        margin-right: 1em;
    }
    .book-table-popup a {
        padding: 10px 22px;
    }
    /*.top-social-bookmark{float:left;}
    .book-table-popup{
        float:left;
    }*/
    .book-table-popup a { margin-right: 0; }
    .slider-head{
        font-size:40px;
        padding: 30px;
        margin-bottom: 0;
    }

   

}



@media (max-width: 767px) {
.sub-heading {
        font-size: 28px;
    }
.mob-mt3 {
    margin-top: 3em;
}
.w-80 {width:  100%}
.banner-heading {
    font-size: 50px;
}
.bg-padding {
    padding: 100px 0;
}

#bannerslider, #bannerslider .carousel-inner, #bannerslider .carousel-item  {
    min-height: 300px;
    overflow-y: hidden;
}

.slider-text {
    display: none;
}

.ingredients-img {
    margin: 0 auto 10px;
    padding: 0px 7px;
    width: 100%;
}

.pr-0{ 
    margin:0 auto;
}

/*.side-social {
top: 20px;
}*/

.book-table-popup a{
    padding:10px 10px
}

.carousel-caption{
    margin-top: 2em;
}

.slider-head{
    font-size: 26px;
    padding: 24px 0px;
}
.order-btn{
    font-size:12px;
    padding: 10px 14px;
}

.carousel-control-prev, .carousel-control-next{
    top:3em
}
.cat-pad {
    padding-bottom: 0;
}
.categories {
    position: relative;
}
.categories ul {
    display: block;
}
}


@media (min-width: 576px) {
    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .video-pop .modal-dialog {
    max-width: 800px;
    }
}
@media (max-width: 575px) {
    .sub-heading {
        font-size: 25px;
    }
    .two-btns {
        display: table;
    margin: 0 auto;
    }
    .two-btns .btn-cmn {
        display: block;
    }
    .btn-cmn.ml-3 {
    margin-left: 0 !important;
}
    /*.toggle-label {
        width: 40px;
        height: 40px;
    }*/
    /*.side-social {
        top: 25px;
    } */

    .mobile-toggle { right: 10px; }
}
@media (max-width:515px){
    .slider-head{
        font-size:22px;
        padding: 0px 0px 10px;
    }
    .book-table-popup a {
        padding: 8px 10px;
    }
    .order-btn{
        font-size:12px;
        padding: 8px 10px;
    }
    .carousel-control-prev, .carousel-control-next {
        top: 5em;
    }
    .top-info{
        margin-top:2px;
    }
}

@media (max-width: 449px) {
.carousel-caption {
    margin-top: 0em;
}
#bannerslider .carousel-item img {height: 300px;}
.slider-head {padding-top: 20px;}
}

@media (max-width:384px){
    .slider-head{
        font-size:20px;
    }
    .food-menu-list-menu ul li {
        margin: 0 2px 1em;
    }
}
@media (max-width:360px){
    .top-social-bookmark ul li a {
        width: 30px;
    }
    .order-btn, .book-table-popup a{
        padding: 4px 10px;
    }
    .slider-head{
        font-size:20px;
        padding: 20px 0px 2px;
    }
    .top-info{
        font-size: 14px;
    }
}
@media (max-width:360px){
    .slider-head{
        font-size:18px;
    }
}

@media (max-width:  350px) {
    .mob-box-pad {padding: 16px 10px;}
    
}

@media (max-width:  350px) {
.icon-bg {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
}
/*MEDIA SCREENS END*/



